body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    width: 540px;
    margin: 0 auto;
    -webkit-tap-highlight-color:transparent;
    text-align: center;
  }
  
  input:focus,
  div:focus,
  button:focus{
    outline:none;
  }
  
  .wrapper {
    position: relative;
    width: 540px;
    height: auto;
    overflow: hidden;
  }
  .swiper-container .swiper-slide {
    line-height: 100px;
    height: 1000px;
  }
  
  .swiper-container .swiper-slide:nth-child(2n) {
    height: 1300px;
  }
  
  .slide_prev{
    position: fixed;
    top: 500px;
    margin-left: 50%;
    left: -270px;
    z-index: 1;
  }
  
  .slide_next{
    position: fixed;
    top: 500px;
    margin-right: 50%;
    right: -270px;
    z-index: 1;
  }
  
  .ball,.ball2{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 50px;
    background-color: orange;
    border-radius: 50%;
  }
  
  .box{
    position: relative;
    width: 50px;
    height: 50px;
    top: 100px;
    background-color: orange;
    float: left;
    margin-right: 10px;
  }