.soundIcon-wrapper{
    position: relative;
    top: 0;
    left: 30px;
    width: 62px;
    height: 96px;
    background: url('../img/btn.png') center no-repeat;
    z-index: 5;
}
.sound-icon{
    position: absolute;
    top: 38px;
    left: -9px;
    width: 80px;
    height: 58px;
}
button {
    border: none;
    background: none;
    outline: none;
    z-index: 2;
}

#soundOn {
    display: none;
    background: url('../img/on.png') center center no-repeat;
}

#soundOff {
    display: block;
    background: url('../img/off.png') center center no-repeat;
}